<div class="alert alert-success py-2 rounded-0">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <p class="mb-0"><%= successMessage %></p>
         </div>
      </div>
   </div>
</div>